
	html { margin-top: 32px !important; }
	* html body { margin-top: 32px !important; }
	@media screen and ( max-width: 782px ) {
		html { margin-top: 46px !important; }
		* html body { margin-top: 46px !important; }
	}



		#head a {
			color: #21759b		}
	


.a-stats {
	width: auto;
}
.a-stats a {
	background: #7CA821;
	background-image:-moz-linear-gradient(0% 100% 90deg,#5F8E14,#7CA821);
	background-image:-webkit-gradient(linear,0% 0,0% 100%,from(#7CA821),to(#5F8E14));
	border: 1px solid #5F8E14;
	border-radius:3px;
	color: #CFEA93;
	cursor: pointer;
	display: block;
	font-weight: normal;
	height: 100%;
	-moz-border-radius:3px;
	padding: 7px 0 8px;
	text-align: center;
	text-decoration: none;
	-webkit-border-radius:3px;
	width: 100%;
}
.a-stats a:hover {
	text-decoration: none;
	background-image:-moz-linear-gradient(0% 100% 90deg,#6F9C1B,#659417);
	background-image:-webkit-gradient(linear,0% 0,0% 100%,from(#659417),to(#6F9C1B));
}
.a-stats .count {
	color: #FFF;
	display: block;
	font-size: 15px;
	line-height: 16px;
	padding: 0 13px;
	white-space: nowrap;
}



	body {
		font-size: 14px;
		font-family: monospace;
	}
	input[type=button]:hover,
	input[type=submit]:hover,
	input[type=reset]:hover,
	textarea:hover,
	input[type=text]:hover,
	input[type=email]:hover,
	input[type=password]:hover,
	input[type=button]:focus,
	input[type=submit]:focus,
	input[type=reset]:focus,
	textarea:focus,
	input[type=text]:focus,
	input[type=email]:focus,
	input[type=password]:focus,
	button:hover,
	button:focus,
	select:hover,
	select:focus {
		border-color: #21759b;
	}
	a {
		color: #21759b;
	}
	a:hover,
	.menu-item-parent:hover > a:after,
	.current-menu-item a:hover,
	.current_page_item a:hover,
	.current-cat a:hover {
		color: #404040;
	}
	.current-menu-ancestor > a:after,
	.current-menu-parent > a:after,
	.current_page_parent > a:after,
	.current_page_ancestor > a:after,
	.current-menu-item > a,
	.current_page_item > a,
	.current-cat > a {
		color: #87CEEB;
	}	
	div.tb_latest_commentators a:hover img {
		border-color: #404040;
	}
	#header-widget-area .bz-widget {
		width:33%;
	}
	#single-widgets-area .bz-widget {
		width:99%;
	}
	#first_fwa {
		width:33%;
	}	
	#second_fwa {
		width:33%;
	}	
	#third_fwa {
		width:33%;
	}

#posts_content .hentry.category-uncategorized { border-left-color:#87CEEB ;}
.widget .cat-item-1 > a, #posts_content .cat-item-1 > a { border-color: #87CEEB ; }
	#content,
	#footer{
			margin-right: 275px;
			margin-left: 327px;
	}
	#fixed-bg {
			background-position: 273px 0;
	}
	#sidebar-primary {
		width: 284px;
	}
	#sidebar-primary .viewport {
		width: 250px;
	}
	#sidebar-primary .overview {
		width: 250px;
	}
	#sidebar-secondary {
		width: 234px;
	}
	#sidebar-secondary .viewport {
		width: 200px;
	}
	#sidebar-secondary .overview {
		width: 200px;
	}



img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
